@{
    ViewBag.Title = "Дома";
}

@Html.Partial("_WelcomePartial")

@Html.Partial("_WhyVaccinatePartial")

@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("_LoggedInUserPartial")
}

<div class="row">
    @if (User.IsInRole("Administrator"))
    {
        @Html.Partial("_AdminFunctionsPartial")
    }
    else if (User.IsInRole("Doctor"))
    {
        @Html.Partial("_DoctorFunctionsPartial")
    }
</div>

<style>
    li {
        padding-bottom: 5px;
    }

    .kopce {
    width: 100%;
    display: block;
    }

    .col-md-4 {
        margin-top: 22px;
    }

    .funct {
        margin-top: 22px;
        margin-left: 1%;
        margin-right: 1%;
    }
</style>
