@{
    ViewBag.Title = "Дома";
}

<div class="jumbotron">
    <h1>COVID-19 Vaccination System</h1>
    <p class="lead">Добредојде: @User.Identity.Name</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Закажи Термин</h2>
        <button class="btn btn-info">@Html.ActionLink("Закажи", "Create", "Appointment", null, new { style = "color: white; text-decoration:none;" })</button>
    </div>
    <div class="col-md-4">
        <h2>Мои Термини</h2>
        <button class="btn btn-info">@Html.ActionLink("Мои Термини", "Index", "Appointment", null, new { style = "color: white; text-decoration:none;" })</button>
    </div>
    <div class="col-md-4">
        <h2>Мој Профил</h2>
        <button class="btn btn-info">@Html.ActionLink("Моj Профил", "Index", "Appointment", null, new { style = "color: white; text-decoration:none;" })</button>
    </div>

    @if (User.IsInRole("Administrator"))
    {
        <div class="col-md-4">
            <h2>Администраторски Функции</h2>
            <div>
                @Html.ActionLink("Промени улога на корисник", "EditUserRole", "Account")
            </div>
            <div>
                @Html.ActionLink("Промени количина на достапни вакцини", "Index", "Vaccine")
            </div>
        </div>
    }

    @if (User.IsInRole("Doctor"))
    {
        <div class="col-md-4">
            <h2>Денешни термини</h2>
            <div>
                @Html.ActionLink("Денешни термини", "AppointmentsToday", "Appointment")
            </div>
        </div>
    }

</div>