@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COVID-19 Vaccination System</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Закажи Термин</h2>
        <button class="btn btn-info">@Html.ActionLink("Закажи", "NewAppointment", "Appointment", new { style = "color: white; text-decoration:none;" })</button>
    </div>
    <div class="col-md-4">
        <h2>Мои Термини</h2>
        <button class="btn btn-info">@Html.ActionLink("Мои Термини", "NewAppointment", "Appointment", new { style = "color: white; text-decoration:none;" })</button>
    </div>
    <div class="col-md-4">
        <h2>Мој Профил</h2>
        <button class="btn btn-info">@Html.ActionLink("Моj Профил", "NewAppointment", "Appointment", new { style = "color: white; text-decoration:none;" })</button>
    </div>

    @if (User.IsInRole("Administrator")) {
        <div class="col-md-4">
            <h2>Администраторски Менаџмент</h2>
            @Html.ActionLink("Додади нов доктор", "Index", "Home")
            @Html.ActionLink("Менаџирај корисници", "About", "Home")
        </div>
    }

</div>