@model COVID_19_Vaccination_System.Models.AppointmentModel

@{
    ViewBag.Title = "Закажи Термин";
    List<string> names = new List<string>();
    foreach (var vaccine in ViewBag.ListOfVaccines) {
        names.Add(vaccine.Name);
    }
}

<h2>Закажи термин!</h2>

<br />
@using (Html.BeginForm("Create", "Appointment", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.NameOfVaccine, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NameOfVaccine,
                    new SelectList(names),
                    htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Закажи" class="btn btn-default" />
                @Html.ActionLink("Откажи", "Index", "Home", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Име на вакцина</th>
            <th scope="col">Достапни количини</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var vaccine in ViewBag.ListOfVaccines) {
                <tr>
                    <th scope="row">@i</th>
                    <td>@vaccine.Name</td>
                    <td>@vaccine.NumOfDosesAvailable</td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
