@model COVID_19_Vaccination_System.Models.AppointmentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppointmentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailOfUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailOfUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfVaccine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfVaccine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
