@model IEnumerable<COVID_19_Vaccination_System.Models.AppointmentModel>

@{
    ViewBag.Title = "Мои термини";
}

<h2>Термини на корисник: @User.Identity.Name</h2>

@{
    if (Model.Count() == 0)
    {
        <hr />
        <h3>Немате закажано термин, дали сакате да закажете?</h3>
        <div>
            @Html.ActionLink("Закажи", "Create", "Appointment", null, new { @class = "btn btn-info", style = "color: white; text-decoration:none;" })
            @Html.ActionLink("Откажи", "Index", "Home", null, new { @class = "btn btn-info", style = "color: white; text-decoration:none;" })
        </div>
    }
    else
    {
        <div>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Корисник</th>
                        <th scope="col">Датум</th>
                        <th scope="col">Вакцина</th>
                        <th scope="col">Вакцинација/Ревакцинација</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var m in Model)
                        {
                            <tr>
                                <td>@m.EmailOfUser</td>
                                <td>@m.Date</td>
                                <td>@m.NameOfVaccine</td>
                                @{
                                    string vac = "";
                                    if (m.AppointmentNum == 1)
                                    {
                                        vac = "Вакцинација";
                                    }
                                    else
                                    {
                                        vac = "Ревакцинација";
                                    }
                                }
                                <td>@vac</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="btn btn-info">
            @Html.ActionLink("Дома", "Index", "Home", null, new { style = "color: white; text-decoration:none;" })
        </div>
    }
}

